name: GitHub release

on:
  schedule:
    - cron: '50 23 * * 1'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Docker Compose
        run: sudo apt install -y docker-compose

      - name: Docker build
        run: docker-compose build github-release

      - name: Export app
        run: docker run -v $(pwd)/dist:/dist github-release cp -rfv /app/app/platforms/android/app/build/outputs/apk/debug/app-debug.apk /dist

      - name: Create release
        run: gh release create v$( date +%Y%m%d%H%M ) ./dist/app-debug.apk
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
